@media screen and (max-width: 767px) {
  .intro-section {
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro-section {
    padding-top: 50px;
  }
}

.intro-section .container-fluid {
  padding: 0px;
  height: 100%;
}

.intro-section .container-fluid .row {
  margin: 0;
  height: 100%;
}

.intro-section .container-fluid .row div {
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-section .container-fluid .row div .img-circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: -120px;
}

@media screen and (max-width: 767px) {
  .intro-section .container-fluid .row div .img-circle {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro-section .container-fluid .row div .img-circle {
    width: 140px;
    height: 140px;
  }
}

.intro-section .container-fluid .row div h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Baloo Bhaina', cursive;
  margin-top: 40px;
}

.intro-section .container-fluid .row div a {
  height: 45px;
  width: 160px;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background: #e91e63;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .story-section {
    padding-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .story-section {
    padding-top: 50px !important;
  }
}

.story-section .container .row div .balut-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-section .container .row div .balut-story p {
  width: 75%;
  text-align: left;
  line-height: 2em;
}

.story-section .container .row div table {
  width: 100%;
  border: 2px solid #e91e63;
}

.story-section .container .row div table thead tr {
  border: 2px solid #e91e63;
  background: #e91e63;
}

.story-section .container .row div table thead tr th {
  text-align: center;
  padding: 10px;
  color: #fff;
}

.story-section .container .row div table thead tr th:first-child {
  width: 50%;
}

.story-section .container .row div table thead tr th:last-child {
  width: 25%;
}

.story-section .container .row div table thead tr th:not(:last-child) {
  border-right: 2px solid #fff;
}

.story-section .container .row div table tbody tr:not(:last-child) {
  border-bottom: 2px solid #e91e63;
}

.story-section .container .row div table tbody tr:nth-child(3) td:nth-child(1), .story-section .container .row div table tbody tr:nth-child(4) td:nth-child(1), .story-section .container .row div table tbody tr:nth-child(5) td:nth-child(1), .story-section .container .row div table tbody tr:nth-child(6) td:nth-child(1) {
  padding-left: 30px;
}

.story-section .container .row div table tbody tr td {
  padding: 10px;
}

.story-section .container .row div table tbody tr td:first-child {
  width: 50%;
  text-align: left;
}

.story-section .container .row div table tbody tr td:nth-child(2), .story-section .container .row div table tbody tr td:last-child {
  width: 25%;
  text-align: center;
}

.story-section .container .row div table tbody tr td:not(:last-child) {
  border-right: 2px solid #e91e63;
}

.story-section .container .row div table tbody tr td:not(:first-child) {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .work-label {
    font-size: 3em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .work-label {
    font-size: 3em !important;
  }
}

.section-title {
  font-size: 4em;
  font-family: 'Baloo Bhaina', cursive;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 3em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 3em !important;
  }
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-justify-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.margin-auto {
  margin: auto;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-25 {
  padding: 25px;
}

.padding-30 {
  padding: 30px;
}

.padding-35 {
  padding: 35px;
}

.padding-40 {
  padding: 40px;
}

.padding-45 {
  padding: 45px;
}

.padding-50 {
  padding: 50px;
}

.my-btn {
  height: 45px;
  width: 160px;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.my-btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.my-btn {
  background: #e91e63;
}

.fa {
  color: white;
  font-size: 3em !important;
}
