.navbar {
  background: #e91e63 !important;
  border-bottom: none !important;
}

.navbar .container div.navbar-header a {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.navbar .container div.navbar-header a:hover {
  color: #fff;
}

.navbar .container div.navbar-collapse ul li.active a {
  background: transparent;
  color: #fff;
}

.navbar .container div.navbar-collapse ul li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.navbar .container div.navbar-collapse ul li a:hover {
  color: #fff;
}

.intro-section .container-fluid {
  padding: 0px;
  height: 100%;
}

.intro-section .container-fluid .row {
  margin: 0;
  height: 100%;
}

.intro-section .container-fluid .row div {
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section .container-fluid .row div h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Baloo Bhaina', cursive;
  margin-top: -200px;
}
