@mixin respond-to($breakpoint) {
    @if $breakpoint=="xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint=="sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint=="md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @else if $breakpoint=="lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint=="xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint=="xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint=="xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}

.intro-section {
    @include respond-to(xs) {
        padding-top: 50px;
    }
    @include respond-to(sm) {
        padding-top: 50px;
    }
    .container-fluid {
        padding: 0px;
        height: 100%;
        .row {
            margin: 0;
            height: 100%;
            div {
                padding: 0px;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // .carousel {
                //     height: 100%;
                // }
                .img-circle {
                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                    margin-top: -120px;
                    @include respond-to(xs) {
                        width: 140px;
                        height: 140px;
                    }
                    @include respond-to(sm) {
                        width: 140px;
                        height: 140px;
                    }
                }
                h1 {
                    color: #fff;
                    font-size: 4em;
                    font-family: 'Baloo Bhaina', cursive;
                    margin-top: 40px;
                }
                a {
                    height: 45px;
                    width: 160px;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 4px;
                    background: #e91e63;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.story-section {
    @include respond-to(xs) {
        padding-top: 50px !important;
    }
    @include respond-to(sm) {
        padding-top: 50px !important;
    }
    .container {
        .row {
            div {
                .balut-story {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p {
                        width: 75%;
                        text-align: left;
                        line-height: 2em;
                    }
                }
                table {
                    width: 100%;
                    border: 2px solid #e91e63;
                    thead {
                        tr {
                            border: 2px solid #e91e63;
                            background: #e91e63;
                            th {
                                text-align: center;
                                padding: 10px;
                                color: #fff;
                                &:first-child {
                                    width: 50%;
                                }
                                &:last-child {
                                    width: 25%;
                                }
                                &:not(:last-child) {
                                    border-right: 2px solid #fff;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            // &:nth-child(3),
                            // &:nth-child(4),
                            // &:nth-child(5) {
                            //     td {
                            //         &:nth-child(1) {
                            //             padding-left: 50px;
                            //         }
                            //     }
                            // }
                            &:not(:last-child) {
                                border-bottom: 2px solid #e91e63;
                            }
                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(6) {
                                td {
                                    &:nth-child(1) {
                                        padding-left: 30px;
                                    }
                                }
                            }
                            td {
                                padding: 10px;
                                &:first-child {
                                    width: 50%;
                                    text-align: left;
                                }
                                &:nth-child(2),
                                &:last-child {
                                    width: 25%;
                                    text-align: center;
                                }
                                &:not(:last-child) {
                                    border-right: 2px solid #e91e63;
                                }
                                &:not(:first-child) {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.work-label {
    @include respond-to(xs) {
        font-size: 3em !important;
    }
    @include respond-to(sm) {
        font-size: 3em !important;
    }
}

.section-title {
    font-size: 4em;
    font-family: 'Baloo Bhaina', cursive;
    @include respond-to(xs) {
        font-size: 3em !important;
    }
    @include respond-to(sm) {
        font-size: 3em !important;
    }
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-justify-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.margin-auto {
    margin: auto;
}

@for $i from 0 through 50 {
    @if $i % 5==0 {
        .margin-bottom-#{$i} {
            margin-bottom: (#{$i}px);
        }
    }
}

@for $i from 0 through 50 {
    @if $i % 5==0 {
        .padding-#{$i} {
            padding: (#{$i}px);
        }
    }
}

%btn-structure {
    height: 45px;
    width: 160px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

%text-decor-none {
    text-decoration: none;
}

%shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

%color-pink {
    background: #e91e63;
}

.my-btn {
    @extend %btn-structure;
    @extend %shadow;
    @extend %color-pink;
}

.fa {
    color: white;
    font-size: 3em !important;
}