nav {
  margin: 0 !important;
  background: transparent;
}

nav div .navbar-header a {
  color: #252525;
}

nav div .navbar-nav {
  float: right !important;
  margin: 0;
  padding: 0;
  padding: 6px;
  list-style: none;
}

nav div .navbar-nav li {
  display: inline-block;
}

nav div .navbar-nav li a {
  color: #252525;
  display: block;
  text-decoration: none;
}

.landing-img {
  background: url(../img/bg-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.8;
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-about {
  margin: 5% 10%;
}

.section-about .container .row h2 {
  text-align: center;
  text-transform: uppercase;
}
