body {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 300;
}

body .navbar {
  margin: 0 !important;
  border-radius: 0px;
  background: transparent;
}

body .navbar div .navbar-header {
  padding: 6px;
}

body .navbar div .navbar-header a {
  color: #252525;
}

body .navbar div .navbar-nav {
  float: right !important;
  margin: 0;
  padding: 0;
  padding: 6px;
  list-style: none;
}

body .navbar div .navbar-nav li {
  display: inline-block;
}

body .navbar div .navbar-nav li:last-child a {
  background: #252525 !important;
  border: 2px solid #252525;
  color: #fff;
  font-weight: bold;
}

body .navbar div .navbar-nav li:last-child a:hover {
  background: #fff !important;
  color: #252525;
}

body .navbar div .navbar-nav li a {
  color: #252525;
  background-color: transparent !important;
  display: block;
  text-decoration: none;
}

body .landing-img {
  background: url(../img/bg-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.8;
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .section-about {
  padding: 4% 10%;
}

body .section-about .container .row {
  display: flex;
  justify-content: center;
}

body .section-about .container .row:first-child {
  margin: 2% 0%;
}

body .section-about .container .row:nth-child(2) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .section-about .container .row:nth-child(2) h5 {
  line-height: 2em;
  text-align: center;
}

body .section-about .container h2 {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  margin: 2% 0%;
  border-bottom: 2px solid #252525;
  padding-bottom: 20px;
}

body .section-about .container .horz {
  height: 3px;
  background: #252525;
}

body .section-about .container p {
  text-align: center;
}

.section-expertise {
  padding: 4% 10%;
  background: #f0f0f0;
}

.section-expertise .container .row {
  display: flex;
  justify-content: center;
}

.section-expertise .container .row:nth-child(2) {
  margin: 5% 0%;
}

.section-expertise .container .row h2 {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  margin: 2% 0%;
  border-bottom: 2px solid #252525;
  padding-bottom: 20px;
}

.section-expertise .container .row div {
  display: flex;
  justify-content: center;
}

.section-expertise .container .row div img {
  width: 160px;
  height: 160px;
}

.footer .container .row {
  padding: 3%;
}

.footer .container .row:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
